/* media-query-1.css */
@media screen and (min-width: 600px) {
    header p {
        display: block; /* go down not across, item by item */
        margin-top: -1.5em;
        font-family: Georgia, serif;
        font-style: italic;
        font-size:1.2em;
    }
    main, h2, h3 {
        font-family: 'Stint Ultra Expanded', Georgia, serif;
    }
    h2, h3 {
        font-weight: bold;
    }
    main {
        line-height: 1.8em;
        padding: 1em;
        border: double 4px #EADDC4;
        border-radius: 25px;
        margin: 2.5%;
    }
}